.card{
    background-color: rgb(20, 87, 141);
    border: 1px solid rgb(10, 39, 43) ;
    background-color: rgba(148, 20, 94, 0.664);
    margin: 50px;
    width: fit-content;
    padding: 1em;
    border-radius: 10px;
    -webkit-box-shadow: 10px 13px 31px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 13px 31px 5px rgba(0,0,0,0.75);
    box-shadow: 10px 13px 31px 5px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    
}

.botonCruz{
    width: fit-content;
    height: fit-content;
    color: rgb(255, 255, 255);
    background-color: rgb(228, 22, 22);
    border-radius: 5px;
    border: 1px solid black;
}

.botonCruz:hover{
    background-color: black;
}